body {
  background: #130b1a;
  background-repeat: no-repeat;
  background-size: cover;
  
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;
}

#header {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

@font-face {
  font-family: AlienEncounterSolid;
  src: url(../fonts/Alien-Encounters-Solid-Bold-Italic.ttf);
}

@font-face {
  font-family: AlienEncounterStrike;
  src: url(../fonts/Alien-Encounters-Bold-Italic.ttf);
}

@font-face {
  font-family: AlienEncounterBold;
  src: url(../fonts/Alien-Encounters-Solid-Bold.ttf);
}

#titleContainer {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 50px;
  font-family: AlienEncounterSolid;
  text-shadow: 0 0 7px;
  padding: 0;
  margin: 0 10px 3vh;
}

#titleA {
    color: #FFFBF9;
    text-shadow: #FFFBF9;
}

#titleB {
    color: #2DE3FF;
    text-shadow: #2DE3FF;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#animationWrapper {
  display: flex;
  flex-direction: column;
}

#animation {
  margin: 0;
  height: 56vh;
  width: 54vw;
}

#mobileSpeedWrapper {
  display: none;
}

@media (max-width: 767px) {
  #header {
    margin: 1px;
  }
  .info {
    display: none;
  }
  .title {
    font-size: 28px;
    text-shadow: 0 0 7px;
    padding: 0;
    margin: 0 4px 0;
  }
  #titleContainer {
    display: flex;
    justify-content: center;
    margin: 0 27px 0 0;
  }
  #navbar {
    display: flex;
    justify-content: center;
    color: #FFFBF9;
    margin: 16px 24px 10px 0;
  }
  .navbarComponent {
    padding: 0 1px;
    font-size: 12px;
  }
  .navbarComponentWrapper {
    width: 20%;
  }
  #animation {
    margin-right: 9vw;
    height: 56vh;
    width: 82vw;
  }
  #taskbar {
    padding: 1px;
    margin-right: 9vw;
  }
  .taskbarChild {
    height: 28px;
  }
  #volume {
    display: none;
  }
  #volumeButton {
    display: none;
  }
  #mobileSpeedWrapper {
    /* enable here for mobile */
  }
}