* {
    
  background-color: #180A32;
}

#header {
    display: flex;
    flex-direction: column;
    margin: 1% 10%;
}

#title {
    color: #F8F0E3;
    margin: 1%;
    text-align: center;
    font-size: 45px;
}