.info {
    margin: 0 4%;
    width: 22em;
    text-align: left;
    font-family: "Lucida Console";
}

.infoCategory {
    margin-bottom: 12%;
}

.infoTitle {
    margin: 0;
    font-family: "Lucida Console";
    font-weight: 900;
    font-size: 13px;
    color: #2DE3FF;
    text-shadow: 0 0 2px #2DE3FF;
}

.infoDesc {
    margin: 16px 0 0 14px;
    font-size: 12px;
    color: #FFF0E9;
}

.infoStatWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoComplexityDesc {
    margin-left: 12px;
    font-size: 13px;
    color: #FFF0E9;
}

.infoArrows {
    cursor: pointer;
    height: 18px;
    object-fit: cover;
    margin: 12px 0 0;
}

#speedTuneContent {
    display: flex;
    color: white;
    justify-content: space-between;
    margin: 0 15%;
}

.liveInfoChild {
    margin: 16px 14px 0 14px;
    font-size: 12px;
}