.info {
    margin: 0 4%;
    width: 22em;
    text-align: left;
    font-family: "Lucida Console";
}

.infoCategory {
    margin-bottom: 18%;
}

.infoTitle {
    margin: 0;
    font-family: "Lucida Console";
    font-weight: 900;
    font-size: 15px;
    color: #2DE3FF;
    text-shadow: 0 0 2px #2DE3FF;
}

.infoDesc {
    margin: 16px 0 0 14px;
    font-size: 13px;
    color: #FFF0E9;
}

.infoStatWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoComplexityDesc {
    margin-left: 12px;
    font-size: 13px;
    color: #FFF0E9;
}

.infoArrows {
    cursor: pointer;
    height: 22px;
    object-fit: cover;
    margin: 16px 0 0 14px;
}

#speedTuneContent {
    display: flex;
    color: white;
    justify-content: space-between;
}

.liveInfoChild {
    margin: 18px 0 0 14px;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}
