#navbar {
    display: flex;
    justify-content: space-around;
    color: #F8F0E3;
    margin: 1% 20%;
    width: 100%;
}

.navbarComponent {
    margin: 0;
    background-color: transparent;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border: transparent;
    cursor: pointer;
    font-family: "Roboto";
}

#navbarWrapper1 {
    margin: 2px 0;
    display: flex;
    border-top: solid 4px #C63B57;
    border-bottom: solid 4px #C63B57;
}

#navbarWrapper2 {
    margin: 2px 0;
    border-top: solid 3px #C63B57;
    border-bottom: solid 3px #C63B57;
}

#navbarWrapper3 {
    margin: 2px 0;
    border-top: solid 2px #C63B57;
    border-bottom: solid 2px #C63B57;
}

#navbarWrapper4 {
    margin: 2vh 0;
    border-top: solid 1px #C63B57;
    border-bottom: solid 1px #C63B57;
}