#navbar {
    display: flex;
    justify-content: center;
    color: #FFFBF9;
    margin: 0 23%;
}

.navbarComponent {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-family: "Open Sans";
    border: transparent;
    cursor: pointer;
    font-family: "Roboto";
}

.navbarComponent:hover {
    font-weight: bold;
}

.glowbarOn {
    height: 4px;
    margin-top: 0.4em;
    background-color: #2DE3FF;
    box-shadow: 0px 0px 10px #2DE3FF;
}

.glowbarOff {
    height: 4px;
    margin-top: 0.4em;
    background-color: transparent;
}

.navbarComponentWrapper {
    text-align: center;
    width: 100%;
}