#taskbar {
    margin: 0 25%;
    padding: 1vw;
    background-color: #281247;
    color: white;
    display: flex;
    justify-content: space-between;
}

.taskbarChild {
    background-color: #281247;
    cursor: pointer;
    height: 35px;
    object-fit: cover;
}

#leftTaskbar {
    background-color: #281247;
    display: flex;
    float:left;
}

#rightTaskbar {
    background-color: #281247;
}

#volumeContainer {
    background-color: #281247;
    display: flex;
}

#volume {
    background-color: #281247;
    opacity: 0;
    border: none;
}