#taskbar {
    margin: 0 25%;
    padding: 0.7%;
    background-color: #281247;
    color: white;
    display: flex;
    justify-content: space-between;
}

.taskbarChild {
    background-color: #281247;
    cursor: pointer;
    height: 35px;
    object-fit: cover;
    padding: 0 10px;
}

#leftTaskbar {
    background-color: #281247;
    display: flex;
    float:left;
}

#rightTaskbar {
    background-color: #281247;
}

#volumeContainer {
    background-color: #281247;
    display: flex;
}

#volume {
    background-color: #281247;
    opacity: 0;
    border: none;
}


@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    #taskbar {
        margin: 5% 2%;
    }
    .taskbarChild {
        height: 30px;
        padding: 2% 4px;
    }
}

@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. 
    */ 

}

@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    #taskbar {
        margin: 2%;
    }
    .taskbarChild {
        height: 30px;
        padding: 2% 20px;
    }
}