#taskbar {
    --backgroundColor: #12081C;
    margin: 0;
    padding: 0.7%;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundColor);
}

.taskbarChild {
    background-color: var(--backgroundColor);
    cursor: pointer;
    height: 35px;
    object-fit: cover;
    padding: 0 10px;
}

#leftTaskbar {
    background-color: var(--backgroundColor);
    display: flex;
    float:left;
}

#rightTaskbar {
    background-color: var(--backgroundColor);
}

#volumeContainer {
    background-color: var(--backgroundColor);
    display: flex;
}

#volume {
    background-color: var(--backgroundColor);
    opacity: 0;
    border: none;
}